---
title: "The Main Branch"
description: "The main branch of the advanced starter kit. Contains a basic 11ty setup for clients not needing much
additional functionality. Similar to our Intermediate Kits."
permalink: '/'
eleventyNavigation:
key: 'Main'
order: '100'
---

{% block head %}
<link rel="stylesheet" href="/assets/css/local.css">
<script src="./assets/js/FAQ.js" defer></script>
{% endblock %}

{% extends 'layouts/base.html' %}

{% block body %}
<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->


<section id="hero-1946">
	<div class="cs-container">
		<div class="cs-content">
			<h2 class="cs-title">Building Your Future Accommodation</h2>
			<div class="cs-flex">
				<p class="cs-text">We successfully cope with tasks of varying complexity, provide long-term guarantees
					and regularly master new technologies.</p>
				<a href="" class="cs-button-solid">Read More</a>
			</div>
		</div>
		<picture class="cs-picture">
			<source media="(min-width: 601px)"
				srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/construction-site.png">
			<source media="(max-width: 600px)"
				srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/construction-site.png">
			<img decoding="async"
				src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/construction-site.png"
				alt="construction site" width="1280" height="510">
		</picture>
		<ul class="cs-card-group">
			<li class="cs-item">
				<picture class="cs-icon-picture">
					<img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/tool.svg"
						decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
				</picture>
				<!-- Text Grouped For Flexbox-->
				<div class="cs-text-group">
					<h3 class="cs-h3">Clean and Scan</h3>
					<p class="cs-item-text">Your photos will be hand cleaned to remove dust and photo cleaner to bring
						out the natural luster of the photo. Then will be digitally scanned using a high-resolution
						scanner to preserve your most precious memories.</p>
				</div>
			</li>
			<li class="cs-item">
				<picture class="cs-icon-picture">
					<img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/hard-hat.svg"
						decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
				</picture>
				<!-- Text Grouped For Flexbox-->
				<div class="cs-text-group">
					<h3 class="cs-h3">Repair</h3>
					<p class="cs-item-text">We expertly fix damaged, faded, or torn photographs, bringing them back to
						life with meticulous care. Whether it's removing blemishes or reconstructing missing parts, we
						ensure your photos look like they were taken today.</p>
				</div>
			</li>
			<li class="cs-item">
				<picture class="cs-icon-picture">
					<img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/double-bed.svg"
						decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
				</picture>
				<!-- Text Grouped For Flexbox-->
				<div class="cs-text-group">
					<h3 class="cs-h3">Colorize</h3>
					<p class="cs-item-text">We can breathe new life into black-and-white, sepia, and faded photographs
						by adding rich, natural colors. We carefully research and apply authentic hues to transform your
						vintage photos, making them more vibrant and lifelike.</p>
				</div>
			</li>
			<li class="cs-item">
				<picture class="cs-icon-picture">
					<img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/building.svg"
						decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
				</picture>
				<!-- Text Grouped For Flexbox-->
				<div class="cs-text-group">
					<h3 class="cs-h3">Printing</h3>
					<p class="cs-item-text">We can handle the printing of your photos </p>
				</div>
			</li>
		</ul>
	</div>
</section>


<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-523">
	<div class="cs-container">
		<div class="cs-content">
			<h2 class="cs-title">Colorize</h2>
			<p class="cs-text">
				We can breathe new life into black-and-white, sepia, and faded photographs by adding rich, natural
				colors. We carefully research and apply authentic hues to transform your vintage photos, making them
				more vibrant and lifelike.
			</p>
			<a href="" class="cs-button-solid">Read More</a>
		</div>



		<div class="cs-image-group compare">
			<main>
				<div class="container container1">
					<div class="image-container">
						<img class="image-before slider-image" src="./assets/images/2kids_compare_web_before.jpg"
							alt="color photo" />
						<img class="image-after slider-image" src="./assets/images/2kids_compare_web_after.jpg"
							alt="black and white" />
					</div>
					<input type="range" min="0" max="100" value="50" aria-label="Percentage of before photo shown"
						class="slider slider1" />
					<div class="slider-line" aria-hidden="true"></div>
					<div class="slider-button" aria-hidden="true">
						<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
							viewBox="0 0 256 256">
							<rect width="256" height="256" fill="none"></rect>
							<line x1="128" y1="40" x2="128" y2="216" fill="none" stroke="currentColor"
								stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
							<line x1="96" y1="128" x2="16" y2="128" fill="none" stroke="currentColor"
								stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
							<polyline points="48 160 16 128 48 96" fill="none" stroke="currentColor"
								stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
							<line x1="160" y1="128" x2="240" y2="128" fill="none" stroke="currentColor"
								stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
							<polyline points="208 96 240 128 208 160" fill="none" stroke="currentColor"
								stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
						</svg>
					</div>
				</div>

			</main>
		</div>
	</div>
</section>

<!-- ============================================ -->
<!--                 Side By Side reverse         -->
<!-- ============================================ -->

<section id="sbs-523" class="reverse">
	<div class="cs-container">
		<div class="cs-content">
			<h2 class="cs-title">Tears and creases</h2>
			<p class="cs-text">
				Damaged photos don’t have to mean damaged memories. Our Tears and Creases service expertly repairs rips,
				folds, and creases, restoring your images to their original beauty. Let us bring your cherished
				photographs back to life with care and precision.
			</p>
			<a href="" class="cs-button-solid">Read More</a>
		</div>

		<div class="cs-image-group compare">
			<div class="cs-image-group compare">
				<main>
					<div class="container container2">
						<div class="image-container">
							<img class="image-before slider-image"
								src="./assets/images/firetruck_compare_web_before.jpg" alt="color photo" />
							<img class="image-after slider-image" src="./assets/images/firetruck_compare_web_after.jpg"
								alt="black and white" />
						</div>
						<input type="range" min="0" max="100" value="10" aria-label="Percentage of before photo shown"
							class="slider slider2" />
						<div class="slider-line" aria-hidden="true"></div>
						<div class="slider-button" aria-hidden="true">
							<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
								viewBox="0 0 256 256">
								<rect width="256" height="256" fill="none"></rect>
								<line x1="128" y1="40" x2="128" y2="216" fill="none" stroke="currentColor"
									stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
								<line x1="96" y1="128" x2="16" y2="128" fill="none" stroke="currentColor"
									stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
								<polyline points="48 160 16 128 48 96" fill="none" stroke="currentColor"
									stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
								<line x1="160" y1="128" x2="240" y2="128" fill="none" stroke="currentColor"
									stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
								<polyline points="208 96 240 128 208 160" fill="none" stroke="currentColor"
									stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
							</svg>
						</div>
					</div>

				</main>
			</div>
		</div>
	</div>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-523">
	<div class="cs-container">
		<div class="cs-content">
			<h2 class="cs-title">Reconstruct</h2>
			<p class="cs-text">
				We can work on piecing together photos that have been torn apart, restoring them to their original
				glory. Reconstruction through meticulously aligning to repair each fragment, ensuring your cherished
				memories are whole again. </p>
			<a href="" class="cs-button-solid">Read More</a>
		</div>



		<div class="cs-image-group compare">
			<main>
				<div class="container container3">
					<div class="image-container">
						<img class="image-before slider-image" src="./assets/images/carriage_web_before.jpg"
							alt="color photo" />
						<img class="image-after slider-image" src="./assets/images/carriage_web_after.jpg"
							alt="black and white" />
					</div>
					<input type="range" min="0" max="100" value="50" aria-label="Percentage of before photo shown"
						class="slider slider3" />
					<div class="slider-line" aria-hidden="true"></div>
					<div class="slider-button" aria-hidden="true">
						<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
							viewBox="0 0 256 256">
							<rect width="256" height="256" fill="none"></rect>
							<line x1="128" y1="40" x2="128" y2="216" fill="none" stroke="currentColor"
								stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
							<line x1="96" y1="128" x2="16" y2="128" fill="none" stroke="currentColor"
								stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
							<polyline points="48 160 16 128 48 96" fill="none" stroke="currentColor"
								stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
							<line x1="160" y1="128" x2="240" y2="128" fill="none" stroke="currentColor"
								stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
							<polyline points="208 96 240 128 208 160" fill="none" stroke="currentColor"
								stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
						</svg>
					</div>
				</div>

			</main>
		</div>
	</div>
</section>

<!-- ============================================ -->
<!--                     FAQ                      -->
<!-- ============================================ -->

<section id="faq-350">
	<div class="cs-container">
		<h2 class="cs-title">Frequently Asked Questions</h2>
		<div class="cs-content">
			
			<ul class="cs-faq-group">
				<!-- Active class added as default -->
				<li class="cs-faq-item">
					<button class="cs-button">
						<span class="cs-button-text">
							How long do photos take to be restored?
						</span>
					</button>
					<p class="cs-item-p">
						The time required for restoration depends on the complexity of the damage,number of photos, and
						backlog of other clients. Generally, it can take <b>anywhere from a few days to a week</b>,
						though larger bulk jobs will require more time.
					</p>
				</li>
				<li class="cs-faq-item">
					<button class="cs-button">
						<span class="cs-button-text">
							What types of damage can you repair?
						</span>
					</button>
					<p class="cs-item-p">
						We can repair a wide range of issues, including tears, scratches, stains, fading, water damage,
						and discoloration. </p>
				</li>
				<li class="cs-faq-item">
					<button class="cs-button">
						<span class="cs-button-text">
							Do I need to send you the original photo?
						</span>
					</button>
					<p class="cs-item-p">
						No, you can send us a high-resolution scan of the original photo if you have the ability to do
						so. 
						<br>
						However, without sending us the photo, or a high-resolution scan, it will be much harder to
						restore the photo properly. <b>We highly suggest sending us the photo for the best possible
							results</b>.
					</p>
				</li>
				<li class="cs-faq-item">
					<button class="cs-button">
						<span class="cs-button-text">
							What file formats do you accept?
						</span>
					</button>
					<p class="cs-item-p">
						For best results, a scan of at least <b>600 DPI in TIFF format</b> is best for restoration.
						<br>
						However, We accept various formats, including <b>JPEG, TIFF, and PNG.</b>
					</p>
				</li>

			</ul>
			<ul class="cs-faq-group">
				<!-- Active class added as default -->
				<li class="cs-faq-item">
					<button class="cs-button">
						<span class="cs-button-text">
							
							Can you restore photos that are severely damaged or missing parts?
						</span>
					</button>
					<p class="cs-item-p">
						Yes, we can reconstruct missing parts of a photo using advanced techniques, though the results
						depend on the extent of the damage and available reference images.
					</p>
				</li>
				<li class="cs-faq-item">
					<button class="cs-button">
						<span class="cs-button-text">
							What if I'm not satisfied with the results?
						</span>
					</button>
					<p class="cs-item-p">
						We strive for customer satisfaction and offer revisions if you are not completely happy with the restoration. We will work with you to achieve the desired outcome.
					</p>
				</li>
				<li class="cs-faq-item">
					<button class="cs-button">
						<span class="cs-button-text">
							How will I receive the restored photo?
						</span>
					</button>
					<p class="cs-item-p">
						We can provide you with a digital file, and a physical print. 
					</p>
				</li>
				<li class="cs-faq-item">
					<button class="cs-button">
						<span class="cs-button-text">
							Do you offer discounts for bulk restorations?
						</span>
					</button>
					<p class="cs-item-p">
						Yes we do, depending on the amount of photos we can offer a discount. <b> Bulk discounts start at 15 photos.</b>
					</p>
				</li>
			</ul>
		</div>
	</div>
</section>

<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-697">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Reviving Memories, One Photo at a Time</h2>
            <a href="" class="cs-button-solid">Get Started -></a>
        </div>
    </div>
    <!--SVG Waves Background-->
    <img class="cs-background" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fwaves-3.svg" alt="wave graphic" width="1920" height="318" loading="lazy" decoding="async" aria-hidden="true">
</section>
                                

{% endblock %}